//====================================================================================================

.header {
  // .header__container
  position: fixed;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--bg);
  border-bottom: 1px solid rgba(203, 1, 2, 0.3);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 5;
    & svg {
      & path.light {
        fill: var(--logo);
        transition: fill 0.3s ease;
      }
    }
  }

  // .header__menu

  &__menu {
    margin: 0;
  }

  // .header__buttons

  &__buttons {
    display: flex;
    gap: 16px;
    position: relative;
    z-index: 5;
    align-items: center;
  }
}
.menu-open {
  .menu__body {
    left: 0;
  }
}

.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: em(880)) {
      position: fixed;
      padding-bottom: 30px;
      top: 0;
      left: 0;
      height: 120vh;
      width: 100%;
      background: var(--bg);
      transition: left 0.3s ease;
      left: -100%;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    gap: 32px;

    @media (max-width: em(880)) {
      margin-top: max(30vh, 80px);
      height: calc(100vh - 110px);
      overflow-y: scroll;
      gap: 16px;
      flex-direction: column;
      text-align: center;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    transition: color 0.3s ease;
    &:hover {
      color: #cb0102;
    }
  }
}
.icon-menu {
}
.button {
  padding: 6px 12px;
  border-radius: 4px;
  transition: color 0.3s ease;
  @media (max-width: em(550)) {
    display: none;
  }
  transition: background-color 0.3s ease;
  &._stroke {
    border: 1px solid #cb0102;
    &:hover {
      background: #cb0102;
    }
  }

  // ._fill

  &._fill {
    border: 1px solid #cb0102;
    background-color: #cb0102;
    color: #fff;
    &:hover {
      background: transparent;
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: em(880)) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: var(--text);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
